# CMS
CONTENTFUL_SPACE_ID=YOUR_SPACE_ID
CONTENTFUL_DELIVERY_TOKEN=YOUR_DELIVERY_TOKEN
CONTENTFUL_ENVIRONMENT=master
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=YOUR_SPACE_ID

# App
NEXT_PUBLIC_APP_URL=http://localhost:3010
